*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  margin: unset;
}

button,
input,
textarea,
select {
  font: inherit;
}

img,
picture,
svg,
canvas {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html,
body {
  height: 100%;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  line-height: 1.75;
  background-color: #fafcff;
  color: #343a40;
}

a {
  color: #0044BF;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre,
code {
  background-color: #fafaff;
}

code {
  padding: 0.25rem 0.5rem;
  font-size: 0.9em;
  border: 1px dotted;
}

pre {
  overflow-x: auto;
  margin: 0;
}

pre code {
  border: none;
}

blockquote {
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
  border-left: 0.25rem solid #d3d3d3;
  font-style: italic;
}

.layout {
  width: min(100%, 70ch);
  margin: 0 auto;
}

@keyframes slide-enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.slide-enter-content>* {
  --stagger: 0;
  --delay: 150ms;
  --start: 0ms;
  animation: slide-enter 1s both 1;
  animation-delay: calc(var(--start) + var(--stagger) * var(--delay));
}

.slide-enter-content>*:nth-child(1) {
  --stagger: 1;
}

.slide-enter-content>*:nth-child(2) {
  --stagger: 2;
}

.slide-enter-content>*:nth-child(3) {
  --stagger: 3;
}

.slide-enter-content>*:nth-child(4) {
  --stagger: 4;
}

.slide-enter-content>*:nth-child(5) {
  --stagger: 5;
}

.slide-enter-content>*:nth-child(6) {
  --stagger: 6;
}

.slide-enter-content>*:nth-child(7) {
  --stagger: 7;
}

.slide-enter-content>*:nth-child(8) {
  --stagger: 8;
}

.slide-enter-content>*:nth-child(9) {
  --stagger: 9;
}

.slide-enter-content>*:nth-child(10) {
  --stagger: 10;
}

.slide-enter-content>*:nth-child(11) {
  --stagger: 11;
}

.slide-enter-content>*:nth-child(12) {
  --stagger: 12;
}

.slide-enter-content>*:nth-child(13) {
  --stagger: 13;
}

.slide-enter-content>*:nth-child(14) {
  --stagger: 14;
}

.slide-enter-content>*:nth-child(15) {
  --stagger: 15;
}

.slide-enter-content>*:nth-child(16) {
  --stagger: 16;
}

.slide-enter-content>*:nth-child(17) {
  --stagger: 17;
}

.slide-enter-content>*:nth-child(18) {
  --stagger: 18;
}

.slide-enter-content>*:nth-child(19) {
  --stagger: 19;
}

.slide-enter-content>*:nth-child(20) {
  --stagger: 20;
}
