*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  margin: unset;
}

button,
input,
textarea,
select {
  font: inherit;
}

img,
picture,
svg,
canvas {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html,
body {
  height: 100%;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  line-height: 1.75;
  background-color: #fafcff;
  color: #32324b;
}

a {
  color: #0044BF;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre,
code {
  background-color: #fafaff;
}

code {
  padding: 0.25rem 0.5rem;
  font-size: 0.9em;
  border: 1px dotted;
}

pre {
  overflow-x: auto;
  margin: 0;
}

pre code { border: none; }

blockquote {
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
  border-left: 0.25rem solid #d3d3d3;
  font-style: italic;
}

.layout {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
