---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hey I'm Jared,</h1>
		<p class="mb-4">
			A design-driven Senior Front End Developer with over 10 years of experience in the software industry. Specializing in Javascript and Vue.js, I have a passion for crafting seamless user experiences.</p>

<p class="mb-4">
Formerly with JumpCloud, I contributed to building their internal design system and component framework, Stratus. Prior to that, at Status Controls, I led a team in developing a white-label Vue application utilized by prominent companies like Nike, Netflix, and Climate Pledge Arena, as well as individual users for their home and building automation needs.</p>

<p class="mb-4">
Based in the heart of the Pacific Northwest, I thrive on collaborating with distributed teams to bring innovative solutions to life.    </p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
