<div class="bio">
  <div class="bio__name text-sans">
    Jared West
    <div class="bio__image">
      <img src="/headshot.png" alt="Headshot Picture" />
    </div>
  </div>
  <div class="bio__text">
    <p>Hi, I'm Jared.</p>
    <p>A design driven front end developer working with Javascript & VueJs.</p>
    <p>Currently open to work for remote positions.</p>
    <p>Formally at <span class="text-bold">JumpCloud</span>.</p>
  </div>
  <ul class="bio__icons">
    <li>
      <a href="https://www.linkedin.com/in/jared-west-b95264a4/">
        <img src="/linkedin.svg" alt="linkedin logo" />
      </a>
    </li>
    <li>
      <a href="https://github.com/utroda" title="github profile">
        <img src="/github.svg" alt="github logo" />
      </a>
    </li>
  </ul>
</div>
